/* *************************************************************************
                                    MOBILE
/* ********************************************************************** */

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/* *************************************************************************
                                    TABLET
/* ********************************************************************** */

@media screen and (min-width: 768px) {

    
    
}
    
/* *************************************************************************
                                        LAPTOP
/* ********************************************************************** */
    
@media screen and (min-width: 1024px) {

    
}   
    
/* *************************************************************************
                                        DESKTOP
 /* ********************************************************************** */
    
@media screen and (min-width: 1366px) {

    
}
    
/* *************************************************************************
                                        WIDESCREEN
/* ********************************************************************** */
    
@media screen and (min-width: 1860px) {
        
    
 }    